@model MoneyBoxWebsite.Models.Product

@{
    ViewData["Title"] = "Details";
}

@if (!Model.Visibility && !(User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Assistant")))
{
    <h1>Error</h1>
    <p>
        The product you are trying to access isn't available. Please try again later.
    </p>
}
else
{
    <div class="btn-bar-container">
        <h1 class="btn-bar-title">Details</h1>

        @if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Assistant"))
        {
            <!--
                To redirect to an httpget -> <a> with asp-action
                To redirect to an httppost -> <form> with asp-action
            -->
            <a asp-action="Edit" asp-controller="Products" asp-route-id="@Model.ProductId" class="btn btn-success btn-bar-element">
                Edit
            </a>
            if (Model.Visibility)
            {
                <a asp-action="Delete" asp-controller="Products" asp-route-id="@Model.ProductId" class="btn btn-danger btn-bar-element">
                    Delete
                </a>
            } else
            {
                <form asp-action="Restore" asp-route-id="@Model.ProductId">
                    <button type="submit" class="btn btn-info btn-bar-element">
                        Restore
                    </button>
                </form>
            }
        }
        <a asp-action="Index" class="btn btn-primary btn-bar-element">Back to List</a>
    </div>

    <br />

    <div style="display: flex; flex-flow: row wrap;">
        <div style="flex-basis:70%">
            <h4>Product</h4>
            <hr />
            <dl>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Reference)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Reference)
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Price)
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Height)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Height)
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Width)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Width)
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Length)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Length)
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Weight)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Weight)
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Color)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Color)
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Manufacturer)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Manufacturer)
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.MoneyCapacity)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MoneyCapacity)
                </dd>
            </dl>

        </div>

        <div style="flex-basis:30%">
            <img style="width:auto; height:auto; max-width:90%; max-height:90%"
                 src="@Model.ImageFilePath" alt="Image of @Model.Name" />

            <h3>Order that product</h3>
            <form asp-action="AddOrderToCart">
                <div class="form-group">
                    <label for="Quantity" class="control-label">Quantity</label>
                    <input type="number" name="Quantity" class="form-control" value="1"/>
                </div>

                <input type="hidden" name="Id" value="@Model.ProductId" />

                <div class="form-group">
                    <input type="submit" value="Order" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
}