@using Microsoft.AspNetCore.Identity;
@model IEnumerable<MoneyBoxWebsite.Models.Client>

@{
    ViewData["Title"] = "Client manager";
}

@inject UserManager<Client> UserManager

<h1 class="title">@ViewData["Title"]</h1>

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AccountEnabled)
                </th>
                <th>
                    Role
                </th>
            </tr>
        </thead>
        <tbody>
        @foreach (Client client in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => client.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => client.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => client.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => client.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => client.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => client.AccountEnabled)
                </td>
                <td>
                    @{
                        IList<String> roles = await UserManager.GetRolesAsync(client);
                    }
                    @foreach (var role in roles)
                    {
                        @role
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>